
$font-stack: 'open sans';
$primary-color: #f16f30;
$secondary-color:#fabf01;
$white-color: #fff;
$black-color: #000;
$bg-form:#f4f5f5;
$text-color:#757575;
body {
  font: 100%;
  background-color: $white-color;
  color:#000;
  font-family: $font-stack;
 }


@import '_mainsheet';
